body {
	background-image: url("background.png");
	background-size: 100% auto;
}
.nav{
	overflow: hidden;
	background-color: #111
}
.nav a{
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; /*No underline*/
}
.nav a:hover {
	background-color: #000
}
.nav img {
	height: 40px;
	float: left;
}
.text {
	width: 75%;
	height: 500px;
	margin: 0 auto;
	background-size: 100% auto;
	font-family: sans-serif;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("students_playing.jpg");
	color: #ffffff
}